.idea/
.vs/
*.DotSettings
Volume-Tray-Volumey/bin/
Volume-Tray-Volumey/obj/
Volume-Tray-Volumey.Tests/bin/
Volume-Tray-Volumey.Tests/obj/
Volume-Tray-Volumey.Package/bin/
Volume-Tray-Volumey.Package/obj/
Volume-Tray-Volumey.Package/AppPackages/
Volume-Tray-Volumey.Package/Volume-Tray-Volumey.Package.wapproj.user
Volume-Tray-Volumey.Package/BundleArtifacts/
